* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background-color: #F1F1F1;
}

header {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #F1F1F1;
}

header > nav {
	width: 1166px;
	height: 30px;
	padding: 20px;
	margin: 0 auto;
}

nav > a {
	text-decoration: none;
	font-size: 11;
	font-family: "Roboto", sans-serif;
	margin-right: 35px;
	color: black;
	font-weight: 700;
}

main {
	width: 1166px;
	margin: 76px auto;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #243043;
}

footer > .footer-content {
	width: 1166px;
	margin: 0 auto;
}

p, span {
	color: white;
}